form {
    border:2px solid rgba(0, 0, 0, 0.186);
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    border-radius: 10px;
}

form div{
    display: flex;
    flex-direction: column;
    align-items: start;
    
}


form div input {
    width: 95%;
    border: none;
    padding: 5px;
    border-radius: 3px;
    
}

.formSubmit{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formSubmit input{
    width: 70%;
    transition: all .4s ease;
    padding: 10px;
    border-radius: 5px;
}

.formSubmit input:hover{
    width: 100%;
    transition: all .6s ease;
}